<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Course Prediction</title>

		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Lato:700%7CMontserrat:400,600" rel="stylesheet">
		

  <link href="{{ url_for('static', filename='chart.css') }}" rel="stylesheet" media="all">
  
  <link href="{{ url_for('static', filename='css1/bootstrap.min.css') }}" rel="stylesheet" media="all">
  
  <link href="{{ url_for('static', filename='css1/font-awesome.min.css') }}" rel="stylesheet" media="all">
  
  <link href="{{ url_for('static', filename='css1/s.css') }}" rel="stylesheet" media="all">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
</head>
<body>
<!--Header-->
	<header id="header" class="transparent-nav" style="position: fixed;background-color: #af0b00; top: 0;">
		<div class="container">

			<div class="navbar-header">
				<!-- Logo -->
				<div class="navbar-brand">
				<a href="main.php"><img src="static/img/hcdc_logo2.png" alt="Logo2" style= "width:40px; margin-bottom: 30px;"></a>
					<a class="logo" href="main.php" style=" margin-top: 8px; font-size: 15px;">HOLY CROSS OF <br> DAVAO COLLEGE</a>
				</div>
					<!-- /Logo -->

					<!-- Mobile toggle -->
					<button class="navbar-toggle">
						<span></span>
					</button>
					<!-- /Mobile toggle -->
				</div>

				<?php
					// Check if the user is logged in, if not then redirect him to login page
					if(!isset($_SESSION["loggedin"]) || $_SESSION["loggedin"] !== true):
				?>

				<!-- Navigation -->
				
				<?php else: ?>
					<!-- Navigation -->
				<nav id="nav">
					<ul class="main-menu nav navbar-nav navbar-right">
						<li><a href="http://localhost/courserecommendation/main.php">Home</a></li>
                        <li class="dropdown">
                            <a class="dropbtn" href="javascript:void(0)">Services <span>&#11167;</span></i></a>
                            <div class="dropdown-content">
                                <a href="http://127.0.0.1/php%20CAREERLY/courses.php">Courses</a>
                                <!--<a href="http://127.0.0.1/php%20CAREERLY/blog.php">Blogs</a>
                                <a href="http://127.0.0.1/php%20CAREERLY/daily_bytes.php">Daily bytes</a>
                                <a href="http://127.0.0.1/php%20CAREERLY/community.php">Community</a>-->
								<a href="http://127.0.0.1/php%20CAREERLY/blog.php">Knowledge Network</a>
								
                            </div>
                        </li>
						<li><a href="#about">About Us</a></li>
						<li><a href="http://127.0.0.1/php%20CAREERLY/contact.php">Contact Us</a></li>
						<li><a href="http://127.0.0.1/php%20CAREERLY/logout.php" >Log out</a></li>
						
                        
					</ul>
				</nav>
				<!-- /Navigation -->
				<?php endif ?>

			</div>
		</header>
		<div class="hero-area section">

			<!-- Backgound Image -->
			
			<!-- /Backgound Image -->
			<div class="container">
				<div class="row" >
					<div class="col-md-10 col-md-offset-1 text-center">
						<ul class="hero-area-tree">
							<li><a href="http://127.0.0.1:5000/">Course Prediction</a></li>
						</ul>
						<h1 class="white-text">Get Started to Discover Yourself!</h1>

					</div>
				</div>
			</div>

		</div>

    <!-- Icons font CSS-->

    <link href=" {{ url_for('static', filename='vendor/mdi-font/css/material-design-iconic-font.min.css') }}" rel="stylesheet" media="all">

    <link href="{{ url_for('static', filename='vendor/font-awesome-4.7/css/font-awesome.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/range.scss') }}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->

    <link href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}" rel="stylesheet" media="all">

    <link href="{{ url_for('static', filename='vendor/datepicker/daterangepicker.css') }}" rel="stylesheet" media="all">
      <!-- Main CSS-->

    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Rate Yourself.....!!</h2>
				
                </div>
				
				
                <div class="card-body">
                    
					<form  method="POST", action="{{url_for('result')}}">
						
						<div class="form-group row">
							<label  class="col-sm-10  col-form-label">1. How interested are you in pursuing a career in the field of information technology after completing the BSIT program?</label>
							<div class="col-sm-11">
							<select class="form-select form-control" required aria-label="select example" name="rate_Database Fundamentals">
								  <option value="">Select your option</option>
								 <option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="5">Average</option>
									<option value="6">Intermediate</option>
									<option value="7">Excellent</option>
									<option value="9">Professional</option>
								</select>
								
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-10  col-form-label">2. Do you have a basic understanding of Programming?</label>
							<div class="col-sm-11">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Computer Architecture" >
							        <option value="">Select your option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="5">Average</option>
									<option value="6">Intermediate</option>
									<option value="7">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label class="col-sm-10  col-form-label">3. How well do you believe the BSIT program prepares students for real-world applications and challenges in the field of information technology?</label>
							<div class="col-sm-11">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Distributed Computing Systems" >
							        <option value="">Select your option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="5">Average</option>
									<option value="6">Intermediate</option>
									<option value="7">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-10  col-form-label">4. How would you rate the opportunities for hands-on experience, internships, or practical projects provided by the BSIT program?</label>
							<div class="col-sm-11">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Cyber Security" >
							        <option value="" >Select your option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="5">Average</option>
									<option value="6">Intermediate</option>
									<option value="7">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-10  col-form-label">5. How would you rate the overall quality of faculty instruction and support within the BSIT program?</label>
							<div class="col-sm-11">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Networking" >
							        <option value="">Select your option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="5">Average</option>
									<option value="6">Intermediate</option>
									<option value="7">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-10  col-form-label">1. How confident are you in your ability to solve complex mathematical problems and understand advanced mathematical concepts?</label>
							<div class="col-sm-11">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Development" >
							        <option value="">Select your option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="5">Average</option>
									<option value="6">Intermediate</option>
									<option value="7">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-10  col-form-label">2. How interested are you in learning about hardware design, including circuit design and microprocessor architecture?</label>
							<div class="col-sm-11">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Programming Skills" >
							        <option value="">Select your option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="5">Average</option>
									<option value="6">Intermediate</option>
									<option value="7">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-10  col-form-label">3. How would you rate your enthusiasm for engaging in hands-on projects that involve building and testing computer systems and components?</label>
							<div class="col-sm-11">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Project Management" >
							        <option value="">Select your option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="5">Average</option>
									<option value="6">Intermediate</option>
									<option value="7">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-10  col-form-label">4. How prepared are you to tackle interdisciplinary subjects that combine electrical engineering, computer science, and software engineering principles?</label>
							<div class="col-sm-11">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Computer Forensics Fundamentals" >
							        <option value="">Select your option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="5">Average</option>
									<option value="6">Intermediate</option>
									<option value="7">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-10  col-form-label">1. How confident are you in your ability to design and analyze analog and digital circuits?</label>
							<div class="col-sm-11">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Technical Communication" >
							        <option value="">Select your option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="5">Average</option>
									<option value="6">Intermediate</option>
									<option value="7">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-10  col-form-label">2. How would you rate your skills and knowledge in using industry-standard simulation and design software (e.g., MATLAB, SPICE)?</label>
							<div class="col-sm-11">
							 <select class="form-select form-control" required aria-label="select example" name="rate_AI ML" >
							        <option value="">Select your option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="5">Average</option>
									<option value="6">Intermediate</option>
									<option value="7">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-10  col-form-label">3. What is your proficiency level in understanding and applying communication systems principles, such as modulation, signal processing, and networking?</label>
							<div class="col-sm-11">
							 <select class="form-select form-control" required aria-label="select example" name="rate_se" >
							        <option value="">Select your option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="5">Average</option>
									<option value="6">Intermediate</option>
									<option value="7">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-10  col-form-label">4. What is your level of interest in learning about microcontroller programming and embedded systems?</label>
							<div class="col-sm-11">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Business Analysis" >
							        <option disabled= "disabled" selected="selected">Select your option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="5">Average</option>
									<option value="6">Intermediate</option>
									<option value="7">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-10  col-form-label">1. How would you rate your interest in the core subjects of BLIS (e.g., cataloging, classification, information retrieval, and digital libraries)?</label>
							<div class="col-sm-11">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Communication skills" >
							        <option value="">Select your option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="5">Average</option>
									<option value="6">Intermediate</option>
									<option value="7">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-10 col-form-label">2. How would you evaluate your practical skills in using library management systems and digital tools for information organization and retrieval?</label>
							<div class="col-sm-11">
							 <select class="form-select form-control" required aria-label="select example" name="rate_Data Science" >
							        <option value="">Select your option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="5">Average</option>
									<option value="6">Intermediate</option>
									<option value="7">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
				</div>
				<div class="form-group row">
							<label  class="col-sm-10  col-form-label">3. How confident are you in your ability to conduct research using various information resources and databases available in libraries?</label>
							<div class="col-sm-11">
							 <select  class="form-control" name="rate_Troubleshooting skills" >
							        <option value="">Select your option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="5">Average</option>
									<option value="6">Intermediate</option>
									<option value="7">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
							
                </div>
				<div class="form-group row">
							<label  class="col-sm-10  col-form-label">4. How well do you think the BLIS program prepares students for the diverse career opportunities in the field of library and information science?</label>
							<div class="col-sm-11">
							 <select  class="form-control" name="rate" >
							        <option value="">Select your option</option>
									<option value="1">Not Interested</option>
									<option value="2">Poor</option>
									<option value="3">Beginner</option>
									<option value="5">Average</option>
									<option value="6">Intermediate</option>
									<option value="7">Excellent</option>
									<option value="9">Professional</option>
							 </select>
						    </div>
							
                </div>
                <center><button class="btn btn--radius-2 btn--red" type="submit" >Discover Yourself!</button></center>
                </div>						
				</div>
</div>		

</form>		
			
    <!-- Footer -->
		<footer id="footer" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<!-- footer logo -->
					<div class="col-md-6">
						<div class="footer-logo">
							<a class="logo" style="font-size: 30px;" href="main.php">HCDC CET Courses</a>
						</div>
					</div>
					<!-- footer logo -->


				</div>
				<!-- /row -->

				<!-- row -->
				<div id="bottom-footer" class="row">

					<!-- social -->
					<div class="col-md-4 col-md-push-8">
						
					</div>
					<!-- /social -->

					<!-- copyright -->
					<!-- /copyright -->
					</div>
				<!-- row -->

			</div>
			<!-- /container -->

		</footer>
		<!-- /Footer -->
		

</body>

</html>